<script>
var project_count = 0
$(function() {
	$('.add_project').live("click", function() {
		$($('#templetes > .project_template').clone()).insertBefore(this)
	});
	$('.add_task').live("click", function() {
 		$($('#templetes > .task_template').clone()).insertBefore(this)
	});
	$(".remove").live("click", function() {
		$(this).parent().remove()
	});
})
</script>

<%= form_for(@user, :url => @user.new_record? ? custom_users_path : custom_user_path(@user) ) do |f| %>
	<div><%= f.label :name %></div>
	<div><%= f.text_field :name %></div>
	<br>
	<div><%= f.label :email %></div>
	<div><%= f.text_field :email %></div>
	<br>
	<%= render :partial => "project", :locals => { :user => @user } %>	
	<div id='project_content'></div>
	<span class='add_project'>Add Project</span>
	<div><%= f.submit :submit %></div>

<% end %>


<div id="templetes">
	<div class="project_template">
		<div>Project Name</div>
		<div><input type='text' name="user[projects_attributes][][name]" data-prjid="pid" /></div>
		<span class='add_task'>Add Task</span>
		<span id="remove_project_template" class="remove" >Remove</span>
	</div>
	<div class="task_template">
		<div>Task Name</div>
		<div><input type='text' name="user[projects_attributes][][tasks_attributes][][name]" data-tskid="tid" /></div>
		<span id="remove_task_template" class="remove" >Remove</span>
	</div>
</div>
