<script>
var project_count = 0
$(function() {
	$('.add_project').live("click", function() {
		$("<div class='project_template'>"+$('#templetes > .project_template').clone().html().replace(/pid/g, project_count++)+"</div>").insertBefore(this)
	});
	$('.add_task').live("click", function() {
		var pid = $(this).parent().find("input:first").attr("data-prjid")
		var tid = $(this).parent().find("input[data-tskid]:last").attr("data-tskid")
		if(!tid) {
			tid = -1
		}
 		$("<div class='task_template'>"+$('#templetes > .task_template').clone().html().replace(/pid/g, pid).replace(/tid/g, parseInt(tid)+1)+"</div>").insertBefore(this)
	});
	$(".remove").live("click", function() {
		$(this).parent().remove()
	});
})
</script>

<%= form_for(@user, :url => @user.new_record? ? custom_users_path : custom_user_path(@user) ) do |f| %>
	<div><%= f.label :name %></div>
	<div><%= f.text_field :name %></div>
	<br>
	<div><%= f.label :email %></div>
	<div><%= f.text_field :email %></div>
	<br>
	<% if @user.persisted? %>
		<%= render :partial => "project", :locals => { :user => @user } %>	
	<% end %>
	<div id='project_content'></div>
	<span class='add_project'>Add Project</span>
	<div><%= f.submit :submit %></div>

<% end %>


<div id="templetes">
	<div class="project_template">
		<div>Project Name</div>
		<div><input type='text' name="user[projects_attributes][pid][name]" data-prjid="pid" /></div>
		<span class='add_task'>Add Task</span>
		<span id="remove_project_template" class="remove" >Remove</span>
	</div>
	<div class="task_template">
		<div>Task Name</div>
		<div><input type='text' name="user[projects_attributes][pid][tasks_attributes][tid][name]" data-tskid="tid" /></div>
		<span id="remove_task_template" class="remove" >Remove</span>
	</div>
</div>
